<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Annotation</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/vue@3.1"></script>
    <link href='https://fonts.googleapis.com/css?family=Indie Flower' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Exo 2' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c3b36ffc0c.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/selection.css">
    <link rel="stylesheet" href="css/button.css">
    <link rel="stylesheet" href="css/select_box.css">
    <link rel="stylesheet" href="css/download_upload.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body class="sans-serif">
    <div id="app" class="container w-70 mv3 mb-3 card-body letter_spacing_01">
        <section id="hit">
            <div class="mt1 flex">
                <div class="mb3 tc f3 w-20 mt1 hit-selector">
                    <button @click="go_to_hit(current_hit - 1)" class="mid-gray br-100 pa1 bw0 bg-near-white pointer prev-next-btns">&nbsp;&lt;&nbsp;</button>
                    <span>&nbsp;Hit {{current_hit + 1}}</span> / <span>{{total_hits}}&nbsp;</span>
                    <button @click="go_to_hit(current_hit + 1)" class="mid-gray br-100 pa1 bw0 bg-near-white pointer prev-next-btns">&nbsp;&gt;&nbsp;</button>
                </div>
                <div class="w-70 mr3 tc">
                    <div>
                        <span v-for="n in Math.floor(total_hits / 2)" v-bind:id="'circle-' + n-1" @click="go_to_hit_circle(n-1, $event)" class="circle pointer"
                        :class="circleClass(n-1)"><span class="tooltiptext">{{n}}</span></span>
                    </div>
                    <div class="mt2">
                        <span v-for="n in Math.ceil(total_hits / 2)" v-bind:id="'circle-' + (n + Math.floor(total_hits / 2)-1)" @click="go_to_hit_circle(n - 1 + Math.floor(total_hits / 2), $event)" class="circle pointer"
                        :class="circleClass(n - 1 + Math.floor(total_hits / 2))"><span class="tooltiptext">{{n + Math.floor(total_hits / 2)}}</span></span>
                    </div>
                </div>
                <div class="mt1 mr2 ml2 flex w-10 tc">
                    <input type="file" id="upload-btn" @change="handle_file_upload"/>
                    <label class="file-upload br-100 w2-5 h2-5 pointer" for="upload-btn"><i class="fa fa-arrow-up"></i></label>
                    <input type="button" id="download-btn" @click="handle_file_download"/>
                    <label class="file-upload file-download br-100 w2-5 h2-5 pointer" for="download-btn"><i class="fa fa-arrow-down"></i></label>
                </div>
            </div>
            <div>
                <hr>
                <div class="ph3 pv1 f4">
                    <div class="cf">
                        <p class="fl mt0 mb1 orig-sentence-header">
                            <span>r/{{ hits_data[current_hit] ? hits_data[current_hit].subreddit : 'Loading...' }} - {{ hits_data[current_hit] ? hits_data[current_hit].reddit_id : 'Loading...' }}</span>
                        </p>
                        <div class="fr">
                            <i @click="bookmark_this_hit" 
                                class="bookmark fa-regular fa-bookmark fa-lg pointer ml1"
                                :class="{ 'bg-red red': isCurrentHitBookmarked }"></i>
                        </div>
                    </div>
                    <p class="mt2 mb2">
                        <span class="comfortaa">
                            Post Title:
                        </span>
                        <span v-html="title">
                        </span>
                    </p>
                    <p class="mt3 mb2">
                        <span class="comfortaa">
                            Post Selftext:
                        </span>
                        <span v-html="post">
                        </span>
                    </p>
                    <p class="mt3 mb2" v-if="parentComment">
                        <span class="comfortaa">
                            Parent Comment:
                        </span>
                        <span>
                            {{parentComment}}
                        </span>
                    </p>
                    <p class="mt3 mb2" v-if="comment">
                        <span class="comfortaa">
                            Comment:
                        </span>
                        <span v-html="comment">
                        </span>
                    </p>
                    <p class="mt3 mb1">
                        <span class="comfortaa">
                            Disclosure span in the {{ type }}:
                        </span>
                        <span class="green">
                            {{ hits_data[current_hit] ? hits_data[current_hit].disclosure : 'Loading...' }}
                        </span>
                    </p>
                </div>
                <hr>
                <div class="ph3 pv1 f4">
                    Rate the importance of <span class="comfortaa">Disclosure span in the {{ type }}</span> within the context into the following three levels:
                    <div class="radio-item mt1">
                        <input type="radio" id="low" name="level" value="low" v-model="importance">
                        <label for="low"><span class="comfortaa light-red">Low:</span> can be removed without compromising the understanding of the 
                            <span v-if="type === 'post title' || type === 'post selftext'">poster's</span>
                            <span v-else-if="type === 'comment'">commenter's</span> perspective and context.</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="moderate" name="level" value="moderate" v-model="importance">
                        <label for="moderate"><span class="comfortaa red">Moderate:</span> adds a meaningful layer to the context but is not essential to the 
                            <span v-if="type === 'post title' || type === 'post selftext'">poster's</span>
                            <span v-else-if="type === 'comment'">commenter's</span> overall message. The disclosure can be generalized.</label>
                    </div>
                    <div class="radio-item">
                        <input type="radio" id="high" name="level" value="high" v-model="importance">
                        <label for="high"><span class="comfortaa dark-red">High:</span> essential for an accurate understanding of the 
                            <span v-if="type === 'post title' || type === 'post selftext'">poster's</span>
                            <span v-else-if="type === 'comment'">commenter's</span> perspective and context, should be kept as is.</label>
                    </div>                    
                </div>
                <div class="ph3 pv1 f4">
                    <p class="i mt0 mb0">If you are not sure / confident on this instance, please leave comments below or send us a Slack message:</p>
                    <textarea class="styled-textarea" v-model="question" placeholder="Your comments or questions here..."></textarea>
                </div>
            </div>
        </section> 
    </div>
    <script src="./js/index.js"></script>
</body>

</html>